<%=form_for :question, url: create_question_path do |f| %>
  <li><%= f.label :body %>
  <%=f.text_area :body %></li>
  <li><%=f.label 'First Choice:' %>
  <%=f.text_field :choice1 %></li>
  <li><%=f.label 'Second Choice:' %>
  <%=f.text_field :choice2 %></li>
  <%=hidden_field(:question, :prop_id, :value => params[:id])%>
  <%= f.submit 'Create Question'%>
<%end%>
<%= link_to 'Done Adding Questions',  pick_correct_answers_path(@prop_bet) %>