<h1>Create a new Game Day: </h1>

<p>
    <%= form_for :game do |f| %>
    <%= f.label :home %>:
    <%= f.text_field :home %><br />
    <%= f.label :away %>:
    <%= f.text_field :away %><br />
    <%= f.submit %>
    <% end %>
</p>







