<h1>Create a new Game Day: </h1>

<p>
    <%= form_for :game do |f| %>
    <%= f.label :home %>:
    <%= f.text_field :home %><br />
    <%= f.label :away %>:
    <%= f.text_field :away %><br />
    <%= f.submit %>
    <% end %>
</p>

<h2>Set up Home Team</h2>

<p>
    <%= form_for :away_player do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <%= f.label :position %>:
    <%= f.text_field :position %><br />
    <%= f.submit %>
    <% end %>
</p>

<h2> Set up Away Team </h2>

<p>
    <%= form_for :home_player do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <%= f.label :position %>:
    <%= f.text_field :position %><br />
    <%= f.submit %>
    <% end %>
</p>



