<h2><%= @game.home%> vs <%=@game.away%></h2>

<h4>Home Players:</h4>
  <% @home_players.each do |p| %>
    <%= p.position%> -
    <%= p.name%>: <%= p.at_bat%></br>
  <%end%>
<h4>Away Players:</h4>
<% @away_players.each do |p| %>
  <%= p.position%>
  <%= p.name %>
<%end%>

<% if is_admin %>
  <%=form_for :hit_challenge, url: create_hit_challenge_path do |f| %>
    <%= f.check_box :active %>
    <%=f.submit "Create Hit Challenge" %>
  <%end%>
<%end%>

