<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />
  <%= f.label :email %>:
  <%= f.text_field :email %><br />
  <%= f.label :title %>:
  <%= f.text_field :title %><br />
  <%= f.label :company %>:
  <%= f.text_field :company %><br />
  <%= f.label "Suite Number:" %>:
  <%= f.select :suite_id, options_for_select(@suite_numbers.map {|s| s.suite_number }), {include_blank: 'Pick a Suite Number'} %></br>
  <%= f.submit %>
<% end %>


<br /> OR LOGIN <br />

<%= form_for :session, url: sessions_path do |f| %>
  <li><%= f.label :email %>
  <%= f.text_field :email %></li>
  <li><%= f.label 'Suite Number' %>
  <%= f.select :suite_id, options_for_select(@suite_numbers.map {|s| s.suite_number }), {include_blank: 'Pick a Suite Number'}  %></li>
  <%= f.submit "Log In" %>
<% end %>