<h2> Set up Home Team </h2>

<p>
    <%= form_for :home_player do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <%= f.label :position %>:
    <%= f.text_field :position %><br />
    <%= f.label :batting_avg %>:
    <%= f.text_field :batting_avg %><br />
    <%= f.submit %>
    <% end %>
</p>
<p>Or <%= link_to 'Done Adding!', games_show_path %> </p>