<h3>Welcome to the Prop Bets for <%= @game.title %></h3>

Questions:
<p>
<%=form_tag submit_answers_path do %>
  <%@questions.count.times do |i| %>
    <%=@questions[i].body%>:
    <li><%="#{@questions[i].choice1}" %>
    <%= radio_button_tag i, @questions[i].choice1 %></li>
    <li><%="#{@questions[i].choice2}" %>
    <%= radio_button_tag i, @questions[i].choice2 %></li>
  <%end%>
  <%=submit_tag "Submit Answers" %>
<%end%>

</p>