<h3>Welcome to the Prop Bets for <%= @game.title %></h3>

Questions:

  <%=form_for :answers do |ans| %>
  <%=@questions.each do |q| %>
      <%=ans.fields_for :ans do |a| %>
        <p>
          <%=a.label "#{q.body}"%>: </br>
          <%=a.label (:choice1), "#{q.choice1}" %>
          <%=a.check_box(:choice) %>
          <%=a.label (:choice2), "#{q.choice2}" %>
          <%=a.check_box(:choice) %>
        </p>
      <%end%>
  <%end%>
      <%= ans.submit "Submit Answers" %>
  <%end%>
