<h2><%=@game.home%> vs <%=@game.away%></h2>

<%if is_admin%>
  <div class='create-challenges'>
    <p>
      <%=form_for :suite, url: create_suite_path(:game_id => @game.id) do |f| %>
        <%= f.label 'Suite Number:' %>
        <%= f.text_field :suite_number %>
        <%=f.submit "Create" %>
      <%end%>
    </p>
    <p>
      <%=form_for :pitch_speed , url: create_pitch_speed_path(:game_id => @game.id) do |f|%>
        <%=f.label 'Create Pitch Speed Challenge' %>
        <%=f.select :suite_id, options_for_select(@game.suites.map {|s| s.suite_number}), {include_blank: 'Suite number?'} %>
        <%=f.label "Title:" %>
        <%=f.text_field :title %>
        <%=f.label "Min Speed:" %>
        <%=f.text_field :min_speed %>
        <%=f.label "Max Speed:" %>
        <%=f.text_field :max_speed %>
        <%=f.submit 'Create' %>
      <%end%>
    </p>
    <p>
      <%=form_for :prop_bet, url: create_prop_bet_path(:game_id => @game.id) do |f| %>
        <%= f.label 'Create Prop Bet:' %>
        <%= f.select :suite_id, options_for_select(@game.suites.map {|s| s.suite_number}), {include_blank: 'Suite number?'} %>
        <%= f.label "Title:" %>
        <%= f.text_field :title %>
        <%=f.submit "Create" %>
      <%end%>
    </p>

      <div id='create-hit'>
        <%=form_for :hit_challenge, url: create_hit_challenge_path do |f| %>
          <%= f.label 'Create Hit Challenge:' %>
          <%= f.select :suite_id, options_for_select(@game.suites.map {|s| s.suite_number}), {include_blank: 'Suite number?'} %>
          <%= f.label "Title:" %>
          <%= f.text_field :title %>
          <%=f.submit "Create" %>
        <%end%>
      </div>

  </div>
  <%= link_to "Edit Game", games_edit_path(@game) %>

  <div class='challenge-lists'>
    <%if @game.has_hit_challenge %>
    <div id='hit-list'>
      <%=render 'hit_challenges_list', locals: {@hit_challenges => @hit_challenges} %>
    </div>
    <%end%>
    <div id='prop-list'>
      <%=render 'prop_bets_list', locals: {@prop_bets => @prop_bets, @game => @game} %>
    </div>
    <div id='pitch-list'>
      <%=render 'pitch_speed_list', locals: {@pitch_speeds => @pitch_speeds, @game => @game} %>
    </div>
  </div>

  <p>
    <li><%= link_to "Add Home Players", add_home_player_path(@game)%></li>
    <li><%= link_to "Add Away Players", add_away_player_path(@game)%></li>
  </p>

  <p>
    Total Hits:
    <%=form_for @game, url: update_game_hits_path do |f| %>
      <%=f.text_field :total_hits%>
      <%=f.submit "Update Hits" %>
    <%end%>
  </p>

<%end%>

<h4>Home Players:</h4>

  <div class='home-player-list'>
    <% @home_players.each do |p| %>
      <%= p.position%> -
      <%= p.name%>: <%= p.at_bat%>
      <% if is_admin %>
        <%= form_for p, url: increment_home_bat_path do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%=f.submit "+" %>
        <%end%>

        <%= form_for p, url: decrement_home_bat_path do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%=f.submit "-" %>
        <%end%>
    </b>
        <%= form_for p, url: delete_home_player_path(p), method: :delete do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%= f.submit "Delete Player" %>
        <%end%>
     </b>
      <%end%>
    </br>
    <%end%>
  </div>

<h4>Away Players:</h4>

  <div class='away-player-list'>

    <% @away_players.each do |p| %>
      <%= p.position%>
      <%= p.name%>: <%= p.at_bat%>

      <% if is_admin %>

        <%= form_for p, url: increment_away_bat_path do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%=f.submit "+" %>
        <%end%>

        <%= form_for p, url: decrement_away_bat_path do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%=f.submit "-" %>
        <%end%>

        <%= form_for p, url: delete_away_player_path(p), method: :delete do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <%= f.submit "Delete Player" %>
        <%end%>

      <%end%>
  </br>
    <%end%>

  </div>

