<h2><%=@game.home%> vs <%=@game.away%></h2>

<h4>Home Players:</h4>
<% @home_players.each do |p| %>
  <%= p.position%> -
  <%= link_to p.name%>: <%= p.at_bat%>
  <% if is_admin %>
    <%= form_for p, url: increment_home_bat_path do |f| %>
      <%= f.hidden_field :player_id, value: p.id %>
      <%=f.submit "+" %>
    <%end%>
    <%= form_for p, url: decrement_home_bat_path do |f| %>
      <%= f.hidden_field :player_id, value: p.id %>
      <%=f.submit "-" %>
    <%end%>
  <%end%>
    </br>
<%end%>
<h4>Away Players:</h4>
<% @away_players.each do |p| %>
  <%= p.position%>
  <%= p.name%>: <%= p.at_bat%>
  <%= form_for p, url: increment_home_bat_path do |f| %>
    <%= f.hidden_field :player_id, value: p.id %>
    <%=f.submit "+" %>
  <%end%>
  <%= form_for p, url: decrement_home_bat_path do |f| %>
    <%= f.hidden_field :player_id, value: p.id %>
    <%=f.submit "-" %>
  <%end%>
  </br>
<%end%>

<% if is_admin %>
  <%=form_for :hit_challenge, url: create_hit_challenge_path do |f| %>
    <%=f.submit "Create Hit Challenge" %>
  <%end%>
<%end%>

