<h2> Set up Home Team </h2>

<p>
    <%= form_for :home_player do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <%= f.label :position %>:
    <%= f.text_field :position %><br />
    <%= f.submit %>
    <% end %>
</p>